
<div class="abc">
    <h1>Login Form</h1>
<form [formGroup]="loginForm">
  <mat-form-field class="example-full-width ">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>
  <mat-error class="no-bottom"
    *ngIf="email?.errors?.['required'] &&(email?.touched||email?.dirty)"
    >Email is required</mat-error>
  <mat-error  class="no-bottom" *ngIf="email?.errors?.['email'] ">Enter a valid email</mat-error>
  <mat-form-field class="example-full-width">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-error class="no-bottom"
    *ngIf="password?.errors?.['required'] &&(password?.touched||password?.dirty)"
    >password is required</mat-error
  >
  <mat-error class="no-bottom" *ngIf="password?.errors?.['pattern'] "
    >password not meet the requirement</mat-error
  >
</form>
<mat-error class="no-bottom" *ngIf="errorMessage">{{errorMessage}}</mat-error>
<button mat-raised-button color="primary" [disabled]="hasError()" (click)="login()">Submit</button>
</div>
